@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }
  
  body {
    @apply antialiased text-gray-900;
  }
}

@layer components {
  .container {
    @apply px-4 mx-auto;
    max-width: 100%;
  }
  
  @screen sm {
    .container {
      max-width: 640px;
    }
  }
  
  @screen md {
    .container {
      max-width: 768px;
    }
  }
  
  @screen lg {
    .container {
      max-width: 1024px;
    }
  }
  
  @screen xl {
    .container {
      max-width: 1280px;
    }
  }
  
  @screen 2xl {
    .container {
      max-width: 1536px;
    }
  }
}